[Unit]
Description=LBT
ConditionHost=sinkhole

[Install]
WantedBy=default.target

[Service]
Environment=APPLICATION_CONFIG=production
ExecStart=/societies/qjcr/lightbluetent/run.sh
WorkingDirectory=/societies/qjcr/lightbluetent
Restart=always
